cfs entry for: _6.fld
doc 0
  field 0
    name filename
    type string
    value salute_benessere_mentale.txt
  field 1
    name content
    type string
    value Salute mentale: consapevolezza, supporto e comunità  \
Parlare di salute mentale significa riconoscere che anche la mente ha bisogno di cure, ascolto e attenzioni.  \
Disturbi come ansia, depressione, stress post-traumatico influenzano milioni di persone.  \
Le barriere sociali, lo stigma, la mancanza di risorse e spesso la disinformazione ostacolano l’accesso alle cure.  \
Il supporto della comunità, la promozione del benessere psicologico, la resilienza, le reti sociali e l’educazione sono cruciali.  \
Promuovere ambienti di lavoro e di vita che favoriscano la salute mentale, investire in servizi, formazione, interventi precoci significa migliorare la qualità della vita per molti.\
\

doc 1
  field 0
    name filename
    type string
    value viaggi.txt
  field 1
    name content
    type string
    value Viaggi, incontri culturali e crescita personale  \
Viaggiare significa esplorare nuovi luoghi, incontrare persone diverse, scoprire culture, idiomi e tradizioni differenti.  \
Questo confronto arricchisce, amplia la visione del mondo, rafforza empatia e apertura mentale.  \
Che si tratti di un viaggio in una capitale europea, di un trekking in montagna o di una fuga in una isola tropicale, l’esperienza cambia la persona.  \
Il viaggio stimola curiosità, insegna a uscire dalla zona di comfort, ad adattarsi, a imparare nuove lingue e a condividere storie.  \
In tempi moderni i viaggi includono anche turismo responsabile, esperienze locali autentiche, riduzione dell’impatto ambientale e sensibilità verso le comunità ospitanti.\
\

doc 2
  field 0
    name filename
    type string
    value poesia.txt
  field 1
    name content
    type string
    value Nel mezzo del cammin di nostra vita\
mi ritrovai per una selva oscura\
ché la diritta via era smarrita.\

doc 3
  field 0
    name filename
    type string
    value salute_benessere.txt
  field 1
    name content
    type string
    value Salute, benessere e stile di vita  \
Vivere bene non significa solo assenza di malattia: è equilibrio fisico, mentale e sociale.  \
Alimentazione, attività fisica, sonno di qualità, gestione dello stress e relazioni sane sono elementi fondamentali.  \
Negli ultimi anni è cresciuta l’attenzione verso la prevenzione, la medicina personalizzata, la salute digitale e il benessere integrato.  \
Ogni persona è unica: le raccomandazioni nutrizionali, i piani di allenamento e le abitudini quotidiane vanno adattati.  \
Inoltre la connessione tra ambiente e salute è sempre più chiara: inquinamento, urbanizzazione, risorse naturali, accesso all’acqua e all’aria pulita influenzano la qualità della vita.\
\

doc 4
  field 0
    name filename
    type string
    value ricetta_pasta.txt
  field 1
    name content
    type string
    value Ricetta per pasta al pomodoro\
Ingredienti: pasta, pomodori, olio, sale, basilico.\
Cuocere la pasta per 10 minuti. \
Scolare e condire con la salsa di pomodoro.\

doc 5
  field 0
    name filename
    type string
    value viaggi_sostenibilita.txt
  field 1
    name content
    type string
    value Turismo sostenibile e viaggi consapevoli  \
Il turismo oggi non può più essere solo esplorazione e divertimento: deve diventare sostenibile.  \
Significa scegliere alloggi ecologici, trasporti meno inquinanti, supportare le economie locali, rispettare l’ambiente e la cultura.  \
I viaggiatori consapevoli evitano il sovraffollamento, cercano destinazioni emergenti, praticano esperienze autentiche e riducono la propria impronta ecologica.  \
Connettere il turismo con la sostenibilità significa proteggere la biodiversità, rispettare i diritti delle popolazioni locali, promuovere l’educazione ambientale e culturale.  \
In questo modo il viaggio diventa non solo piacere ma valore per tutte le parti coinvolte.\
\

doc 6
  field 0
    name filename
    type string
    value energia_rinnovabile.txt
  field 1
    name content
    type string
    value Fonti di energia rinnovabile e transizione energetica  \
Le fonti rinnovabili includono solare, eolico, idroelettrico, geotermico e biomassa.  \
La transizione energetica è la strada verso un sistema meno dipendente dai combustibili fossili e più rispettoso dell’ambiente.  \
Diversi Paesi stanno fissando obiettivi ambiziosi: ridurre le emissioni di CO₂, aumentare la quota di energia pulita, migliorare l’efficienza energetica.  \
Un aspetto chiave è lo stoccaggio dell’energia e le smart-grid che consentono una migliore gestione della domanda e dell’offerta.  \
Anche la sostenibilità economica e sociale devono essere prese in considerazione: accesso all’energia per tutti, costi sostenibili, impatto sul territorio.\
\

doc 7
  field 0
    name filename
    type string
    value romanzo_viaggio.txt
  field 1
    name content
    type string
    value Il treno partì all'alba, lasciando dietro di sé la città addormentata.\
Marco guardava il paesaggio cambiare, cercando un nuovo inizio.\
Era un viaggio verso l'ignoto, pieno di speranza.\
\

doc 8
  field 0
    name filename
    type string
    value ia.txt
  field 1
    name content
    type string
    value Intelligenza artificiale, machine learning e futuro del lavoro  \
L’intelligenza artificiale (IA) sta trasformando molti settori: sanità, trasporti, finanza, manifattura e servizio al cliente.  \
Con tecniche come machine learning, deep learning e reti neurali, possiamo analizzare grandi quantità di dati, svolgere previsioni e automazione.  \
Tuttavia emergono questioni etiche: bias nei dati, trasparenza degli algoritmi, perdita di posti di lavoro e nuove competenze richieste.  \
La collaborazione uomo-macchina sarà sempre più importante: gli algoritmi possono assistere, ma serve il contributo umano per creatività, empatia e giudizio.  \
Nel futuro del lavoro è previsto un mix: nuove professioni legate all’IA, formazione continua, aggiornamento delle competenze digitali e politiche di adattamento.\
\

doc 9
  field 0
    name filename
    type string
    value sostenibilita.txt
  field 1
    name content
    type string
    value Sostenibilità e cambiamento climatico  \
Il concetto di sostenibilità si riferisce alla capacità di mantenere un equilibrio nel lungo periodo, preservando le risorse per le generazioni future.  \
Negli ultimi decenni il riscaldamento globale, lo scioglimento dei ghiacciai, l’innalzamento del livello del mare e gli eventi meteorologici estremi sono diventati evidenti.  \
Le aziende stanno adottando politiche “green”, fonti rinnovabili, economia circolare e riduzione delle emissioni.  \
Tuttavia le sfide restano: la biodiversità in diminuzione, l’inquinamento dell’aria e dell’acqua, l’uso eccessivo delle materie prime.  \
Per un futuro sostenibile servono innovazione, consapevolezza sociale e collaborazione internazionale.\

END
checksum 00000000004282931275
cfs entry for: _6.inf
number of fields 2
  name filename
  number 0
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values skip indexNONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  parent false
  name content
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values skip indexNONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  parent false
checksum 00000000001757386916
cfs entry for: _6.len
field filename
  type NUMERIC
  minalue 1
  maxvalue 1
  doccount 10
  origin 1
  pattern 0
0
T
0
T
0
T
0
T
0
T
0
T
0
T
0
T
0
T
0
T
field content
  type NUMERIC
  minalue 10
  maxvalue 53
  doccount 10
  origin 10
  pattern 00
39
T
41
T
00
T
40
T
07
T
40
T
39
T
10
T
43
T
38
T
END
checksum 00000000001248886725
cfs entry for: _6.pst
field content
  term 10
    doc 4
      freq 1
      pos 15
  term abitudin
    doc 3
      freq 1
      pos 67
  term access
    doc 0
      freq 1
      pos 48
    doc 3
      freq 1
      pos 86
    doc 6
      freq 1
      pos 86
  term acqua
    doc 3
      freq 1
      pos 87
    doc 9
      freq 1
      pos 74
  term adattament
    doc 8
      freq 1
      pos 105
  term adattars
    doc 1
      freq 1
      pos 72
  term adattat
    doc 3
      freq 1
      pos 70
  term addormentat
    doc 7
      freq 1
      pos 10
  term adottand
    doc 9
      freq 1
      pos 52
  term aggiornament
    doc 8
      freq 1
      pos 98
  term alba
    doc 7
      freq 1
      pos 3
  term algoritm
    doc 8
      freq 2
      pos 52
      pos 71
  term alimentazion
    doc 3
      freq 1
      pos 20
  term allenament
    doc 3
      freq 1
      pos 64
  term allogg
    doc 5
      freq 1
      pos 21
  term ambient
    doc 0
      freq 1
      pos 70
    doc 3
      freq 1
      pos 75
    doc 5
      freq 1
      pos 31
    doc 6
      freq 1
      pos 34
  term ambiental
    doc 1
      freq 1
      pos 95
    doc 5
      freq 1
      pos 71
  term ambizios
    doc 6
      freq 1
      pos 40
  term ampl
    doc 1
      freq 1
      pos 23
  term analizzar
    doc 8
      freq 1
      pos 34
  term anni
    doc 3
      freq 1
      pos 37
  term ansia
    doc 0
      freq 1
      pos 25
  term apertur
    doc 1
      freq 1
      pos 31
  term aria
    doc 3
      freq 1
      pos 89
    doc 9
      freq 1
      pos 72
  term arricchisc
    doc 1
      freq 1
      pos 22
  term artificial
    doc 8
      freq 2
      pos 1
      pos 9
  term ascolt
    doc 0
      freq 1
      pos 20
  term aspett
    doc 6
      freq 1
      pos 56
  term assenz
    doc 3
      freq 1
      pos 11
  term assister
    doc 8
      freq 1
      pos 73
  term attenzion
    doc 0
      freq 1
      pos 22
    doc 3
      freq 1
      pos 40
  term attivit
    doc 3
      freq 1
      pos 21
  term aumentar
    doc 6
      freq 1
      pos 46
  term autentic
    doc 1
      freq 1
      pos 92
    doc 5
      freq 1
      pos 46
  term automazion
    doc 8
      freq 1
      pos 42
  term aziend
    doc 9
      freq 1
      pos 50
  term barrier
    doc 0
      freq 1
      pos 35
  term basilic
    doc 4
      freq 1
      pos 10
  term bene
    doc 3
      freq 1
      pos 7
  term benesser
    doc 0
      freq 1
      pos 58
    doc 3
      freq 2
      pos 1
      pos 52
  term bias
    doc 8
      freq 1
      pos 47
  term biodiversit
    doc 5
      freq 1
      pos 62
    doc 9
      freq 1
      pos 68
  term biomass
    doc 6
      freq 1
      pos 16
  term bisogn
    doc 0
      freq 1
      pos 17
  term camb
    doc 1
      freq 1
      pos 57
  term cambiament
    doc 9
      freq 1
      pos 2
  term cambiar
    doc 7
      freq 1
      pos 15
  term cammin
    doc 2
      freq 1
      pos 3
  term capacit
    doc 9
      freq 1
      pos 11
  term capital
    doc 1
      freq 1
      pos 41
  term cercan
    doc 5
      freq 1
      pos 41
  term cercand
    doc 7
      freq 1
      pos 16
  term chiar
    doc 3
      freq 1
      pos 81
  term chiav
    doc 6
      freq 1
      pos 57
  term ché
    doc 2
      freq 1
      pos 13
  term circolar
    doc 9
      freq 1
      pos 58
  term città
    doc 7
      freq 1
      pos 9
  term client
    doc 8
      freq 1
      pos 22
  term climatic
    doc 9
      freq 1
      pos 3
  term co
    doc 6
      freq 1
      pos 45
  term coinvolt
    doc 5
      freq 1
      pos 89
  term collaborazion
    doc 8
      freq 1
      pos 63
    doc 9
      freq 1
      pos 89
  term combustibil
    doc 6
      freq 1
      pos 29
  term comfort
    doc 1
      freq 1
      pos 70
  term competenz
    doc 8
      freq 2
      pos 60
      pos 100
  term comunit
    doc 0
      freq 2
      pos 5
      pos 54
    doc 1
      freq 1
      pos 100
  term concett
    doc 9
      freq 1
      pos 5
  term condir
    doc 4
      freq 1
      pos 19
  term condivider
    doc 1
      freq 1
      pos 79
  term confront
    doc 1
      freq 1
      pos 21
  term connession
    doc 3
      freq 1
      pos 73
  term connetter
    doc 5
      freq 1
      pos 53
  term consapevol
    doc 5
      freq 2
      pos 4
      pos 37
  term consapevolezz
    doc 0
      freq 1
      pos 2
    doc 9
      freq 1
      pos 86
  term consenton
    doc 6
      freq 1
      pos 67
  term considerazion
    doc 6
      freq 1
      pos 85
  term continu
    doc 8
      freq 1
      pos 97
  term contribut
    doc 8
      freq 1
      pos 77
  term costi
    doc 6
      freq 1
      pos 90
  term creativit
    doc 8
      freq 1
      pos 80
  term crescit
    doc 1
      freq 1
      pos 4
  term cresciut
    doc 3
      freq 1
      pos 39
  term crucial
    doc 0
      freq 1
      pos 68
  term cultur
    doc 1
      freq 1
      pos 15
    doc 5
      freq 1
      pos 34
  term cultural
    doc 1
      freq 1
      pos 2
    doc 5
      freq 1
      pos 73
  term cuocer
    doc 4
      freq 1
      pos 11
  term cure
    doc 0
      freq 2
      pos 19
      pos 50
  term curiosit
    doc 1
      freq 1
      pos 63
  term dati
    doc 8
      freq 2
      pos 38
      pos 49
  term decenn
    doc 9
      freq 1
      pos 28
  term deep
    doc 8
      freq 1
      pos 28
  term depression
    doc 0
      freq 1
      pos 26
  term destinazion
    doc 5
      freq 1
      pos 42
  term deve
    doc 5
      freq 1
      pos 16
  term devon
    doc 6
      freq 1
      pos 81
  term dietr
    doc 7
      freq 1
      pos 5
  term different
    doc 1
      freq 1
      pos 19
  term digital
    doc 3
      freq 1
      pos 49
    doc 8
      freq 1
      pos 101
  term diminuzion
    doc 9
      freq 1
      pos 70
  term dipendent
    doc 6
      freq 1
      pos 27
  term diritt
    doc 2
      freq 1
      pos 15
    doc 5
      freq 1
      pos 65
  term disinformazion
    doc 0
      freq 1
      pos 46
  term disturb
    doc 0
      freq 1
      pos 23
  term divent
    doc 5
      freq 1
      pos 79
  term diventar
    doc 5
      freq 1
      pos 17
  term diventat
    doc 9
      freq 1
      pos 47
  term divers
    doc 1
      freq 1
      pos 13
    doc 6
      freq 1
      pos 35
  term divertiment
    doc 5
      freq 1
      pos 15
  term domand
    doc 6
      freq 1
      pos 72
  term eccessiv
    doc 9
      freq 1
      pos 76
  term ecologic
    doc 5
      freq 2
      pos 22
      pos 52
  term econom
    doc 5
      freq 1
      pos 28
    doc 9
      freq 1
      pos 57
  term economic
    doc 6
      freq 1
      pos 78
  term educazion
    doc 0
      freq 1
      pos 66
    doc 5
      freq 1
      pos 70
  term efficienz
    doc 6
      freq 1
      pos 53
  term element
    doc 3
      freq 1
      pos 33
  term emergent
    doc 5
      freq 1
      pos 43
  term emergon
    doc 8
      freq 1
      pos 44
  term emission
    doc 6
      freq 1
      pos 43
    doc 9
      freq 1
      pos 62
  term empat
    doc 1
      freq 1
      pos 29
    doc 8
      freq 1
      pos 81
  term energ
    doc 6
      freq 4
      pos 2
      pos 50
      pos 61
      pos 87
  term energetic
    doc 6
      freq 3
      pos 6
      pos 19
      pos 54
  term eolic
    doc 6
      freq 1
      pos 12
  term equilibr
    doc 3
      freq 1
      pos 15
    doc 9
      freq 1
      pos 15
  term esperienz
    doc 1
      freq 2
      pos 56
      pos 90
    doc 5
      freq 1
      pos 45
  term esplorar
    doc 1
      freq 1
      pos 8
  term esplorazion
    doc 5
      freq 1
      pos 13
  term esser
    doc 5
      freq 1
      pos 11
    doc 6
      freq 1
      pos 82
  term estrem
    doc 9
      freq 1
      pos 45
  term etic
    doc 8
      freq 1
      pos 46
  term europe
    doc 1
      freq 1
      pos 42
  term event
    doc 9
      freq 1
      pos 43
  term evident
    doc 9
      freq 1
      pos 48
  term evitan
    doc 5
      freq 1
      pos 38
  term favoriscan
    doc 0
      freq 1
      pos 77
  term finanz
    doc 8
      freq 1
      pos 17
  term fisic
    doc 3
      freq 2
      pos 16
      pos 22
  term fissand
    doc 6
      freq 1
      pos 38
  term fondamental
    doc 3
      freq 1
      pos 34
  term fonti
    doc 6
      freq 2
      pos 0
      pos 8
    doc 9
      freq 1
      pos 55
  term formazion
    doc 0
      freq 1
      pos 84
    doc 8
      freq 1
      pos 96
  term fossil
    doc 6
      freq 1
      pos 30
  term fuga
    doc 1
      freq 1
      pos 51
  term futur
    doc 8
      freq 2
      pos 5
      pos 85
    doc 9
      freq 2
      pos 25
      pos 82
  term generazion
    doc 9
      freq 1
      pos 24
  term geotermic
    doc 6
      freq 1
      pos 14
  term gestion
    doc 3
      freq 1
      pos 26
    doc 6
      freq 1
      pos 70
  term ghiaccia
    doc 9
      freq 1
      pos 35
  term giudiz
    doc 8
      freq 1
      pos 83
  term global
    doc 9
      freq 1
      pos 31
  term grand
    doc 8
      freq 1
      pos 35
  term green
    doc 9
      freq 1
      pos 54
  term grid
    doc 6
      freq 1
      pos 65
  term guardav
    doc 7
      freq 1
      pos 12
  term ia
    doc 8
      freq 2
      pos 10
      pos 95
  term idiom
    doc 1
      freq 1
      pos 16
  term idroelettric
    doc 6
      freq 1
      pos 13
  term ignot
    doc 7
      freq 1
      pos 24
  term imparar
    doc 1
      freq 1
      pos 74
  term impatt
    doc 1
      freq 1
      pos 94
    doc 6
      freq 1
      pos 92
  term important
    doc 8
      freq 1
      pos 69
  term impront
    doc 5
      freq 1
      pos 51
  term includon
    doc 1
      freq 1
      pos 86
    doc 6
      freq 1
      pos 10
  term incontr
    doc 1
      freq 1
      pos 1
  term incontrar
    doc 1
      freq 1
      pos 11
  term influenzan
    doc 0
      freq 1
      pos 30
    doc 3
      freq 1
      pos 91
  term ingredient
    doc 4
      freq 1
      pos 5
  term iniz
    doc 7
      freq 1
      pos 19
  term innalzament
    doc 9
      freq 1
      pos 36
  term innovazion
    doc 9
      freq 1
      pos 85
  term inoltr
    doc 3
      freq 1
      pos 71
  term inquinament
    doc 3
      freq 1
      pos 82
    doc 9
      freq 1
      pos 71
  term inquinant
    doc 5
      freq 1
      pos 25
  term insegn
    doc 1
      freq 1
      pos 64
  term integrat
    doc 3
      freq 1
      pos 53
  term intelligenz
    doc 8
      freq 2
      pos 0
      pos 8
  term internazional
    doc 9
      freq 1
      pos 90
  term intervent
    doc 0
      freq 1
      pos 85
  term investir
    doc 0
      freq 1
      pos 81
  term isola
    doc 1
      freq 1
      pos 54
  term lasciand
    doc 7
      freq 1
      pos 4
  term lavor
    doc 0
      freq 1
      pos 72
    doc 8
      freq 3
      pos 7
      pos 57
      pos 87
  term learning
    doc 8
      freq 3
      pos 3
      pos 27
      pos 29
  term legat
    doc 8
      freq 1
      pos 94
  term lingu
    doc 1
      freq 1
      pos 76
  term livell
    doc 9
      freq 1
      pos 38
  term local
    doc 1
      freq 1
      pos 91
    doc 5
      freq 2
      pos 29
      pos 68
  term lungo
    doc 9
      freq 1
      pos 17
  term luog
    doc 1
      freq 1
      pos 10
  term macchin
    doc 8
      freq 1
      pos 65
  term machin
    doc 8
      freq 2
      pos 2
      pos 26
  term malatt
    doc 3
      freq 1
      pos 13
  term mancanz
    doc 0
      freq 1
      pos 40
  term manifattur
    doc 8
      freq 1
      pos 18
  term mantener
    doc 9
      freq 1
      pos 13
  term marco
    doc 7
      freq 1
      pos 11
  term mare
    doc 9
      freq 1
      pos 40
  term mater
    doc 9
      freq 1
      pos 78
  term medicin
    doc 3
      freq 1
      pos 45
  term meno
    doc 5
      freq 1
      pos 24
    doc 6
      freq 1
      pos 26
  term mental
    doc 0
      freq 3
      pos 1
      pos 9
      pos 80
    doc 1
      freq 1
      pos 32
    doc 3
      freq 1
      pos 17
  term mente
    doc 0
      freq 1
      pos 15
  term meteorologic
    doc 9
      freq 1
      pos 44
  term mezzo
    doc 2
      freq 1
      pos 1
  term miglior
    doc 6
      freq 1
      pos 69
  term migliorar
    doc 0
      freq 1
      pos 88
    doc 6
      freq 1
      pos 52
  term milion
    doc 0
      freq 1
      pos 31
  term minut
    doc 4
      freq 1
      pos 16
  term mix
    doc 8
      freq 1
      pos 91
  term modern
    doc 1
      freq 1
      pos 83
  term modo
    doc 5
      freq 1
      pos 76
  term molti
    doc 0
      freq 1
      pos 94
    doc 8
      freq 1
      pos 13
  term mondo
    doc 1
      freq 1
      pos 27
  term montagn
    doc 1
      freq 1
      pos 47
  term natural
    doc 3
      freq 1
      pos 85
  term neural
    doc 8
      freq 1
      pos 32
  term nuove
    doc 1
      freq 1
      pos 75
    doc 8
      freq 2
      pos 59
      pos 92
  term nuovi
    doc 1
      freq 1
      pos 9
  term nuovo
    doc 7
      freq 1
      pos 18
  term nutrizional
    doc 3
      freq 1
      pos 60
  term obiettiv
    doc 6
      freq 1
      pos 39
  term offert
    doc 6
      freq 1
      pos 74
  term oggi
    doc 5
      freq 1
      pos 7
  term ogni
    doc 3
      freq 1
      pos 54
  term olio
    doc 4
      freq 1
      pos 8
  term oscur
    doc 2
      freq 1
      pos 12
  term ospitant
    doc 1
      freq 1
      pos 101
  term ostacolan
    doc 0
      freq 1
      pos 47
  term paesagg
    doc 7
      freq 1
      pos 14
  term paesi
    doc 6
      freq 1
      pos 36
  term parlar
    doc 0
      freq 1
      pos 6
  term parti
    doc 5
      freq 1
      pos 88
  term partì
    doc 7
      freq 1
      pos 2
  term pasta
    doc 4
      freq 3
      pos 2
      pos 6
      pos 13
  term perdit
    doc 8
      freq 1
      pos 53
  term period
    doc 9
      freq 1
      pos 18
  term person
    doc 0
      freq 1
      pos 33
    doc 1
      freq 2
      pos 12
      pos 59
    doc 3
      freq 1
      pos 55
  term personal
    doc 1
      freq 1
      pos 5
  term personalizzat
    doc 3
      freq 1
      pos 46
  term piacer
    doc 5
      freq 1
      pos 82
  term piani
    doc 3
      freq 1
      pos 62
  term pieno
    doc 7
      freq 1
      pos 25
  term politic
    doc 8
      freq 1
      pos 103
    doc 9
      freq 1
      pos 53
  term pomodor
    doc 4
      freq 3
      pos 4
      pos 7
      pos 24
  term popolazion
    doc 5
      freq 1
      pos 67
  term possiam
    doc 8
      freq 1
      pos 33
  term posson
    doc 8
      freq 1
      pos 72
  term post
    doc 0
      freq 1
      pos 28
  term posti
    doc 8
      freq 1
      pos 55
  term pratican
    doc 5
      freq 1
      pos 44
  term precoc
    doc 0
      freq 1
      pos 86
  term prese
    doc 6
      freq 1
      pos 83
  term preservand
    doc 9
      freq 1
      pos 19
  term prevenzion
    doc 3
      freq 1
      pos 43
  term prevision
    doc 8
      freq 1
      pos 40
  term previst
    doc 8
      freq 1
      pos 89
  term prime
    doc 9
      freq 1
      pos 79
  term profession
    doc 8
      freq 1
      pos 93
  term promozion
    doc 0
      freq 1
      pos 56
  term promuover
    doc 0
      freq 1
      pos 69
    doc 5
      freq 1
      pos 69
  term propr
    doc 5
      freq 1
      pos 50
  term protegger
    doc 5
      freq 1
      pos 60
  term psicologic
    doc 0
      freq 1
      pos 59
  term pulit
    doc 3
      freq 1
      pos 90
    doc 6
      freq 1
      pos 51
  term può
    doc 5
      freq 1
      pos 9
  term qualit
    doc 0
      freq 1
      pos 90
    doc 3
      freq 2
      pos 25
      pos 93
  term quantit
    doc 8
      freq 1
      pos 36
  term question
    doc 8
      freq 1
      pos 45
  term quota
    doc 6
      freq 1
      pos 48
  term quotidian
    doc 3
      freq 1
      pos 68
  term raccomandazion
    doc 3
      freq 1
      pos 59
  term rafforz
    doc 1
      freq 1
      pos 28
  term relazion
    doc 3
      freq 1
      pos 30
  term resilienz
    doc 0
      freq 1
      pos 61
  term responsabil
    doc 1
      freq 1
      pos 89
  term restan
    doc 9
      freq 1
      pos 66
  term reti
    doc 0
      freq 1
      pos 63
    doc 8
      freq 1
      pos 31
  term ricett
    doc 4
      freq 1
      pos 0
  term richiest
    doc 8
      freq 1
      pos 61
  term riconoscer
    doc 0
      freq 1
      pos 11
  term riducon
    doc 5
      freq 1
      pos 48
  term ridurr
    doc 6
      freq 1
      pos 41
  term riduzion
    doc 1
      freq 1
      pos 93
    doc 9
      freq 1
      pos 60
  term riferisc
    doc 9
      freq 1
      pos 9
  term rinnovabil
    doc 6
      freq 2
      pos 3
      pos 9
    doc 9
      freq 1
      pos 56
  term riscaldament
    doc 9
      freq 1
      pos 30
  term risors
    doc 0
      freq 1
      pos 42
    doc 3
      freq 1
      pos 84
    doc 9
      freq 1
      pos 21
  term rispettar
    doc 5
      freq 2
      pos 30
      pos 63
  term rispettos
    doc 6
      freq 1
      pos 33
  term ritrova
    doc 2
      freq 1
      pos 8
  term sale
    doc 4
      freq 1
      pos 9
  term salsa
    doc 4
      freq 1
      pos 22
  term salut
    doc 0
      freq 3
      pos 0
      pos 8
      pos 79
    doc 3
      freq 3
      pos 0
      pos 48
      pos 77
  term sane
    doc 3
      freq 1
      pos 31
  term sanit
    doc 8
      freq 1
      pos 15
  term sceglier
    doc 5
      freq 1
      pos 20
  term sciogliment
    doc 9
      freq 1
      pos 33
  term scolar
    doc 4
      freq 1
      pos 17
  term scoprir
    doc 1
      freq 1
      pos 14
  term selva
    doc 2
      freq 1
      pos 11
  term sempr
    doc 3
      freq 1
      pos 79
    doc 8
      freq 1
      pos 67
  term sensibilit
    doc 1
      freq 1
      pos 97
  term serve
    doc 8
      freq 1
      pos 75
  term serviz
    doc 0
      freq 1
      pos 83
    doc 8
      freq 1
      pos 20
  term servon
    doc 9
      freq 1
      pos 84
  term settor
    doc 8
      freq 1
      pos 14
  term sfide
    doc 9
      freq 1
      pos 65
  term signific
    doc 0
      freq 2
      pos 10
      pos 87
    doc 1
      freq 1
      pos 7
    doc 3
      freq 1
      pos 9
    doc 5
      freq 2
      pos 19
      pos 59
  term sistem
    doc 6
      freq 1
      pos 25
  term smarrit
    doc 2
      freq 1
      pos 18
  term smart
    doc 6
      freq 1
      pos 64
  term social
    doc 0
      freq 2
      pos 36
      pos 64
    doc 3
      freq 1
      pos 19
    doc 6
      freq 1
      pos 80
    doc 9
      freq 1
      pos 87
  term solar
    doc 6
      freq 1
      pos 11
  term solo
    doc 3
      freq 1
      pos 10
    doc 5
      freq 2
      pos 12
      pos 81
  term sonno
    doc 3
      freq 1
      pos 23
  term sostenibil
    doc 5
      freq 2
      pos 1
      pos 18
    doc 6
      freq 1
      pos 91
    doc 9
      freq 1
      pos 83
  term sostenibilit
    doc 5
      freq 1
      pos 58
    doc 6
      freq 1
      pos 77
    doc 9
      freq 2
      pos 0
      pos 7
  term sovraffollament
    doc 5
      freq 1
      pos 40
  term speranz
    doc 7
      freq 1
      pos 27
  term spess
    doc 0
      freq 1
      pos 44
  term stigm
    doc 0
      freq 1
      pos 38
  term stile
    doc 3
      freq 1
      pos 3
  term stimol
    doc 1
      freq 1
      pos 62
  term stoccagg
    doc 6
      freq 1
      pos 60
  term stor
    doc 1
      freq 1
      pos 80
  term strad
    doc 6
      freq 1
      pos 22
  term stress
    doc 0
      freq 1
      pos 27
    doc 3
      freq 1
      pos 28
  term support
    doc 0
      freq 2
      pos 3
      pos 52
  term supportar
    doc 5
      freq 1
      pos 26
  term svolger
    doc 8
      freq 1
      pos 39
  term sé
    doc 7
      freq 1
      pos 7
  term tecnic
    doc 8
      freq 1
      pos 24
  term tempi
    doc 1
      freq 1
      pos 82
  term territor
    doc 6
      freq 1
      pos 94
  term tradizion
    doc 1
      freq 1
      pos 18
  term transizion
    doc 6
      freq 2
      pos 5
      pos 18
  term trasformand
    doc 8
      freq 1
      pos 12
  term trasparenz
    doc 8
      freq 1
      pos 50
  term trasport
    doc 5
      freq 1
      pos 23
    doc 8
      freq 1
      pos 16
  term tratt
    doc 1
      freq 1
      pos 35
  term traumatic
    doc 0
      freq 1
      pos 29
  term trekking
    doc 1
      freq 1
      pos 45
  term treno
    doc 7
      freq 1
      pos 1
  term tropical
    doc 1
      freq 1
      pos 55
  term turism
    doc 1
      freq 1
      pos 88
    doc 5
      freq 3
      pos 0
      pos 6
      pos 55
  term tuttav
    doc 8
      freq 1
      pos 43
    doc 9
      freq 1
      pos 63
  term tutte
    doc 5
      freq 1
      pos 86
  term ultim
    doc 3
      freq 1
      pos 36
    doc 9
      freq 1
      pos 27
  term umano
    doc 8
      freq 1
      pos 78
  term unica
    doc 3
      freq 1
      pos 57
  term uomo
    doc 8
      freq 1
      pos 64
  term urbanizzazion
    doc 3
      freq 1
      pos 83
  term uscir
    doc 1
      freq 1
      pos 66
  term uso
    doc 9
      freq 1
      pos 75
  term valor
    doc 5
      freq 1
      pos 84
  term vanno
    doc 3
      freq 1
      pos 69
  term verso
    doc 1
      freq 1
      pos 98
    doc 3
      freq 1
      pos 41
    doc 6
      freq 1
      pos 23
    doc 7
      freq 1
      pos 23
  term via
    doc 2
      freq 1
      pos 16
  term viagg
    doc 1
      freq 4
      pos 0
      pos 38
      pos 61
      pos 85
    doc 5
      freq 2
      pos 3
      pos 78
    doc 7
      freq 1
      pos 22
  term viaggiar
    doc 1
      freq 1
      pos 6
  term viaggiator
    doc 5
      freq 1
      pos 36
  term vision
    doc 1
      freq 1
      pos 25
  term vita
    doc 0
      freq 2
      pos 75
      pos 92
    doc 2
      freq 1
      pos 6
    doc 3
      freq 2
      pos 5
      pos 95
  term viver
    doc 3
      freq 1
      pos 6
  term zona
    doc 1
      freq 1
      pos 68
field filename
  term energia_rinnovabile.txt
    doc 6
      freq 1
      pos 0
  term ia.txt
    doc 8
      freq 1
      pos 0
  term poesia.txt
    doc 2
      freq 1
      pos 0
  term ricetta_pasta.txt
    doc 4
      freq 1
      pos 0
  term romanzo_viaggio.txt
    doc 7
      freq 1
      pos 0
  term salute_benessere.txt
    doc 3
      freq 1
      pos 0
  term salute_benessere_mentale.txt
    doc 0
      freq 1
      pos 0
  term sostenibilita.txt
    doc 9
      freq 1
      pos 0
  term viaggi.txt
    doc 1
      freq 1
      pos 0
  term viaggi_sostenibilita.txt
    doc 5
      freq 1
      pos 0
END
checksum 00000000003332843341
table of contents, size: 4
  filename: _6.fld
    start: 22
    end: 7044
  filename: _6.inf
    start: 7066
    end: 7932
  filename: _6.len
    start: 7954
    end: 8265
  filename: _6.pst
    start: 8287
    end: 31143
table of contents begins at offset: 0000000000000031143
